<div id="app">
<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>opis</th>
        <th>strona</th>
        <th>pomysłodawcy</th>
        <th>wykonawcy</th>
        <th>czas wykonania (godziny:minuty)</th>
        <th>data</th>
    </tr>
    <tr v-for="task in tasks">
        <td>${ task.id }</td>
        <td>${ task.description} </td>
        <td><a :href="task.www">${ task.www }</a></td>
        <td>
            <template v-for="user in task.usersInventors">
                ${ user }
            </template>
        </td>
        <td>
            <template v-for="user in task.usersWorkers">
                ${ user }
            </template>

            <button v-if="help" @click="iWillHelp(task.id)" class="btn-success">Pomogę!</button>
                <button v-else class="btn-danger">Niepomogę</button>
        </td>
        <td>${ task.minutes}</td>
        <td>${ task.createdAt}</td>
        <th></th>
    </tr>
</table>
<button type="button" @click="addIdea()" class="btn btn-primary">Dodaj nowy pomysł</button>
</div>
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            delimiters: ['${', '}'],
            data: {
                NameSurname: "{{ app.user.name}} {{ app.user.surname }}",
                title: "",
                message: 'Siema',
                tasks: {{ tasks|raw }}
            },
            methods: {
                addIdea (){
                    this.help = !this.help;
                },
                iWillHelp(id){
                    this.tasks.forEach(function (item){
                        if(item.id === id){
                            item.usersInventors.push("test");
                        }
                    });
                   axios.post(Routing.generate('tqm_i_will_help', {id: id}))
                       .then(function (response) {
                           location.reload();
                       })
                       .catch(function (error) {
                           console.log(error);
                       });
                }
            }
        });
    </script>
{% endblock %}