{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Nowe Pomysły:</h1>
                {% include 'tqm/_ideas.html.twig' %}
                <h1>Zrobione:</h1>
                {% include 'tqm/_tasks.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

