{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
Sławomir Grochowski  - dodanie kolumny "Liczba uczestników", wycentrowanie treści w kolumnach - http://fighterchamp.pl/turnieje/ 2h

        </div>
    </div>
{% endblock %}
