{% if fight.winner %}
    {{ signUp.user.id == fight.winner.id ? "<span class='label label-success'>W</span>" : "<span class='label label-danger'>L</span>" }}
{% elseif fight.draw %}
    <span class='label label-warning'>D</span>
{% endif %}