<div class="col-xs-12">
    <div>
        Zawodnicy którzy skasowali swoje zgłoszenia a mają walkę = {{ signUps|length }} <br>
        {% for signUp in signUps  %}
            {{ signUp.user.name }} {{ signUp.user.surname }} ,
        {% endfor %}
    </div>
    <br>
    <br>
{% include 'admin/_parts/admin_fights.html.twig' %}
</div>