{% extends 'base.html.twig' %}

{% block body %}

    <h2>Maile wszystkich użytkowników ({{ usersQty }})</h2>
    {% for user in users %}
        {{ user.email }},
    {% endfor %}

    <h2>Maile wszystkich użytkowników którzy są zapisani na turniej ({{ sing_up_usersQty }})</h2>
    {% for sign_up_users in sign_up_users %}
        {{ sign_up_users.user.email }},
    {% endfor %}
{% endblock %}


