{% extends 'base.html.twig' %}
{% block body %}
    {% include 'admin/base.html.twig' %}
    <div class="col-xs-12">
        {% for msg in app.session.flashBag.get('success') %}
            <div class="alert alert-success">
                {{ msg }}
            </div>
        {% endfor %}
        <p>Zawodnicy którzy są zgłoszeni do turnieju ale nie są jescze sparowani</p>
        <button class="btn btn-success btn-block" id="button">Paruj</button>
        {% include '/admin/_table_users_to_pair.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            var table = $('#table-pair').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Polish.json"
                },
                "bPaginate": false,
                "dom": 'lifrtp'
            });

            $('#table-pair tbody').on('click', 'tr', function () {
                console.log(this);

                if ($(this).hasClass('active')) {
                    $(this).removeClass('active');
                }
                else {

                    var numOfActiveRow = table.$('tr.active').length;

                    if (numOfActiveRow === 2) {
                        table.$('tr.active').removeClass('active');
                    }

                    $(this).addClass('active');
                }
            });

            $('#button').click(function () {

                var numOfActiveRow = table.$('tr.active').length;

                if(numOfActiveRow !==2){
                    alert('Zaznaczono '+numOfActiveRow+ ' a potrzeba 2 zawodników');
                }else {

                    var ids = $('.active').map(function (index, element) {
                        return element.id
                    }).get();

                    $.post("{{ path('admin_tournament_create_fight', {'id': tournamentId }) }}",
                        {ids: ids}, function (data, status) {

                        });

                    table.rows('.active').remove().draw(false);
                }

            });

        });
    </script>
{% endblock %}