{% import "_macros/macro.html.twig" as macro %}
{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
                {{ macro.table(fights, {'tournament' : true, 'order': false }) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script>
    $(document).ready(function(){
        $('#table-fight').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Polish.json"
            },
            "bPaginate": false,
            "dom": 'lifrtp',
            "order": [[ 0, "desc" ]]
        });
    });
</script>
{% endblock %}
