{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {% include '/fight/_fights.html.twig' %}
            </div>
        </div>
    </div>




{% endblock %}

