{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <table id="table" class="table">
                    <thead>
                    <tr>
                        <th>Nazwa</th>
                        <th class="text-center">Liczba Zawodników</th>
                        {#<th>Miasto</th>#}
                    </tr>
                    </thead>
                    <tbody>
                    {% for arr in clubs %}
                        <tr>
                            <td><a href="{{ path('club_show', {'id': arr[0].id }) }}">{{ arr[0].name }}</a></td>
                            <td class="text-center">{{ arr[0].users |length }}</td>
                            {#<td>{{ arr[0].club.city }}</td>#}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
