{% import "_macros/macro.html.twig" as macro %}
<div class="container">
    <div class="row">

        {% if not fightsInDay %}
            <p class="text-center">Na tej stronie w dniu turnieju widoczna będzie lista walk</p>
        {% endif %}


        {% for fightsInDay in fightsInDay %}

            <h1>{{ fightsInDay[0].day|localizeddate('none', 'full', app.request.locale, null, 'cccc') }} {{ fightsInDay[0].day | date('d-m-Y') }}</h1>

            {{ macro.table(fightsInDay, {'tournament' : false, 'order': true }) }}

        {% endfor %}
        
    </div>
</div>
