{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center">Lista Turniejów</h1>
                {% include 'tournament/_tournaments.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
