{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12  col-md-10 col-md-offset-1">
                <h2 class="text-right small">Warszawa 20-02-2016</h2>
                <h2 class="text-center well">Regulamin</h2>
                <div class="rules">
                    <ol>
                        <li>
                            <h1>Organizator</h1>
                            <ol>
                                <li>Strona Testowa</li>
                            </ol>
                        </li>
                        <li>
                            <h1>Definicje</h1>
                            <ol>
                                <li><strong>Organizator -</strong> Stowarzyszenie „Baltic Martial Arts Federation” z
                                    siedzibą w Legionowie oraz organizatorzy
                                    dodatkowi zwani dalej wspólnie Organizatorem.
                                </li>
                                <li><strong>Turnieje BMAF – </strong>system zawodów amatorskich sportów walki
                                    rozgrywanych w ciągu roku mający na celu wyłonienie
                                    finalistów gali finałowej. Turnieje BMAF są eliminacjami do gali finałowej. Daty
                                    turniejów będą podane w
                                    ogłoszeniach na stronie Organizatora
                                </li>
                                <li><strong>Gala finałowa BMAF –</strong> finałowy turniej dla zawodników z największą
                                    ilością punktów przyznanych w ramach
                                    turniejów. Data gali finałowej będzie podana w ogłoszeniach na stronie Organizatora
                                </li>
                                <li><strong>Zawodnik –</strong> osoba fizyczna, która dokonała prawidłowo zgłoszenia do
                                    turniejów BMAF posiadająca odpowiednie
                                    kwalifikacje sportowe uprawniające do udziału w amatorskich turniejach sportów
                                    walki, ważne na dzień turnieju
                                    badania lekarskie wpisane do książeczki sportowo-lekarskiej, w przypadku gdy nie
                                    ukończyła 18 lat posiadająca
                                    zgodę opiekunów prawnych. Ostatecznej weryfikacji zawodników dokonuje zarząd
                                    stowarzyszenia BMAF.
                                </li>
                                <li><strong>Polski Związek Kickboxingu –</strong> zwany dalej PZKB jest głównym patronem
                                    sportowym turniejów BMAF. Oznacza to,
                                    że w czasie turniejów obowiązują zasady sędziowania, rozgrywania walk, licencje
                                    zawodnicze, stopnie szkoleniowe
                                    zgodne z PZKB. Oficjalna strona <a href="http://pzkickboxing.pl">http://pzkickboxing.pl/</a>
                                </li>
                                <li><strong>Formuły walk –</strong> dostępne na turnieju dyscypliny amatorskich sportów
                                    walki. Współzawodnictwo w obrębie formuły
                                    walki rozgrywane jest według regulaminu PZKB. Obowiązują następujące formuły walk:
                                    Boks, K1, Kick Boxing
                                    Oriental Rules, Kick Boxing Low-kick.
                                </li>
                                <li><strong>Kategoria wagowa –</strong> zadeklarowana przez zawodnika w zgłoszeniu
                                    kategoria wagowa, w której zamierza wystąpić
                                    w turnieju. Zawodnik w dniu turnieju musi się zgłosić do weryfikacji wagi. Nie jest
                                    dopuszczalna odchyłka
                                    od limitu wagi. W razie gdy zawodnik nie osiągnął wyznaczonego limitu wagowego
                                    przysługuje mu prawo do
                                    ponownej jednorazowej weryfikacji wagi w odstępie czasowym nie krótszym niż 1h. lub
                                    start w kategorii
                                    wagowej wyższej.
                                </li>
                                <li><strong>Sędzia główny –</strong> osoba wyznaczona przez organizatora do sprawowania
                                    władzy decyzyjnej w przypadku rozstrzygania
                                    spraw spornych i rozdzielenia obowiązków między poszczególnych sędziów podczas
                                    zawodów
                                </li>
                            </ol>
                        </li>
                        <li>
                            <h1>Cel</h1>
                            <ol>
                                <li>Popularyzacja amatorskiej rywalizacji sportów walki jako drogi do kształtowania
                                    charakteru i rozwoju w
                                    duchu kultury fizycznej.
                                </li>
                                <li>Promocja amatorskich sportów walki wśród mieszkańców Mazowsza i całej Polski</li>
                                <li>Integracja środowiska sportowego.</li>
                                <li>Promocja i rozwój zawodników przez danie możliwości rywalizacji oraz pokazania ich
                                    umiejętności.
                                </li>
                            </ol>
                        </li>
                        <li>
                            <h1>Zgłoszenia</h1>
                            <ol>
                                <li>Zgłoszenia do turnieju BMAF odbywają się elektronicznie poprzez wypełnienie
                                    formularza podanego w komunikacie
                                    na stronie. Na każdy turniej na przestrzeni roku należy się zgłosić i zapisać
                                    oddzielnie. System zgłoszeń
                                    zostanie uruchomiony na 14 dni przed turniejem BMAF i zamknięty 24h przed.
                                    Obowiązuje limit 100 zawodników
                                    na turniej. Zawodnik może przystąpić tylko do jednej wybranej przez siebie formuły
                                    walki w obrębie jednego
                                    turnieju. Zawodnikowi przysługuje prawo zmiany formuły walki z turnieju na turniej
                                    ale wówczas traci
                                    punkty zdobyte poprzednio.
                                </li>
                                <li>Aby prawidłowo wypełnić formularz należy w zgłoszeniu podać następujące dane: imię i
                                    nazwisko, płeć, kat.
                                    wiekowa (junior, senior), data urodzenia, kat. wagowa na dzień turnieju,
                                    przynależność klubowa, formuła
                                    walki w jakiej chce wystąpić zawodnik, tel. kontaktowy.
                                </li>
                                <li>Obowiązuje wpisowe 40 zł płatne w dniu zawodów lub przelewem przed zawodami na konto
                                    stowarzyszenia BMAF.
                                    W tytule należy podać imię i nazwisko zawodnika oraz datę urodzenia.
                                </li>
                                <li>Wpisowe nie podlega zwrotowi w przypadku rezygnacji z udziału w turnieju. Wpisowe
                                    jest przepisywane jeśli
                                    zawodnik zmienia formułę walki lub kategorię wagową w obrębie turnieju. Istnieje
                                    możliwość przepisania
                                    opłaty wpisowej na innego zawodnika. W tym celu należy skontaktować się mailowo ze
                                    stowarzyszeniem BMAF.
                                </li>
                            </ol>
                        </li>
                        <li>
                            <h1>Zasady turniejów</h1>
                            <ol>
                                <li>W 2016r. liga Turniej Testowy zmienia swój charakter i przyjmuje formę turniejów
                                    rozgrywanych systemem pucharowym
                                    (wygrany przechodzi dalej aż do finału). Planowanych jest rozegranie czterech (4)
                                    turniejów eliminacyjnych
                                    w ciągu roku i jednego (1) finałowego i w formie gali Turniej Testowy pod koniec roku. Daty
                                    podane zostaną w
                                    ogłoszeniu na stronie stowarzyszenia.
                                </li>
                                <li>W finałowej gali Turniej Testowy wystąpią zawodnicy którzy zdobyli największą ilość punktów
                                    w poprzednich 4 edycjach
                                    w poszczególnych formułach i kat. wagowych.
                                </li>
                                <li>W przypadku jeśli któryś z zawodników nie może wystąpić w gali finałowej (np.
                                    kontuzja) występuje kolejny
                                    zawodnik z największą ilością punktów.
                                </li>
                                <li>Zawodnik za wygraną walkę otrzymuje 4 pkt. za przegraną 2 pkt.</li>
                                <li>Zawodnik który przyjechał na turniej i nie odbył walki z powodu braku przeciwnika
                                    otrzymuje 1pkt.
                                </li>
                                <li>Do turnieju mogą przystąpić zawodnicy który posiadają:
                                    <ul>
                                        <li>aktualny wpis do książeczki sportowo-lekarskiej zawierający: imię i nazwisko
                                            osoby badanej, data
                                            badania, DOPISEK „jest zdolny do treningów i zawodów w kickboxingu”,
                                            pieczątka lekarza sportowego
                                            lub przychodni medycyny sportowej.
                                        </li>
                                        <li>potwierdzenie zgłoszenia do turnieju BMAF przez formularz elektroniczny i
                                            potwierdzenie dokonania
                                            opłaty wpisowej.
                                        </li>
                                        <li>ubezpieczenie od następstw nieszczęśliwych wypadków NNW</li>
                                        <li>licencje zawodniczą PZKB (istnieje możliwość wykupienia licencji
                                            jednorazowej na miejscu, koszt
                                            jednorazowej licencji 20 zł).
                                        </li>
                                        <li>w przypadku gdy w dniu turnieju nie ukończyli 18 lat pisemną zgodę opiekunów
                                            prawnych do okazania
                                            w dniu turnieju. Zgoda jest zatrzymywana w archiwum stowarzyszenia BMAF i
                                            nie podlega zwrotowi.
                                            Zawodnik dostarcza podpisaną zgodę na turniej. Formularz zgody opiekuna
                                            dostępny jest w załączniku
                                            A do regulaminu (poniżej). W przypadku cofnięcia zgody opiekun prawny lub
                                            zawodnik zobowiązany
                                            jest o tym poinformować organizatora
                                        </li>
                                    </ul>
                                </li>
                                <li><strong>UWAGA!</strong> Bez względu na wpis w książeczce sportowo-lekarskiej, pod
                                    żadnym warunkiem, Organizator
                                    nie dopuszcza do wystąpienia w turnieju kobiet w ciąży, bez względu na tydzień
                                    ciąży. Ukrywanie tego faktu
                                    przed organizatorem grozi poważnymi następstwami zdrowotnymi w tym (ale nie tylko)
                                    uszkodzenie płodu, utratą
                                    ciąży czy śmiercią zawodniczki. Zawodniczka, która podejrzewa w dniu turnieju, że
                                    jest w ciąży powinna
                                    natychmiast zrezygnować z uczestnictwa i udać się do lekarza.
                                    5.8 Walki w poszczególnych formułach
                                </li>
                                <li>Walki w poszczególnych formułach będą się toczyć w/g regulaminu PZKB i będą trwały
                                    na dystansie 3 rundy
                                    po 2 minuty (przerwa 60 sek) zarówno dla mężczyzn i kobiet.
                                </li>
                                <li>Walki odbywają się w atestowanym ringu bokserskim o wymiarach 6m x 6m, przy czym
                                    pole walki ma 5m x 5m
                                </li>
                                <li>Ubiór (koszulki, spodenki) i sprzęt zawodników (ochraniacze) przystępujących do
                                    turnieju musi być zgodny
                                    z regulaminem PZKB i zgodny z formułą walki. Obowiązuje następujące wyposażenie:
                                    <ul>
                                        <li>rękawice bokserskie (10oz) zgodne z kolorem narożnika zawodnik zapewnia we
                                            własnym zakresie
                                        </li>
                                        <li>kaski (ochrona na głowę) zgodnie z kolorem narożnika zawodnik zapewnia we
                                            własnym zakresie
                                        </li>
                                        <li>napiszczelniki (ochrona nóg) ze stópką w dowolnym kolorze</li>
                                    </ul>
                                </li>
                                <li>Losowaniem i zestawieniem par zajmują się wyłącznie sędziowie turnieju</li>
                            </ol>
                        </li>
                        <li>
                            <h1>Podział zawodników</h1>
                            <ol>
                                <li>
                                    W turnieju przewidziano podział na następujące formuły walk
                                    <ul>
                                        <li>Boks</li>
                                        <li>K1</li>
                                        <li>Kick Boxing Oriental Rules</li>
                                        <li>Kick Boxing Low-kick</li>
                                    </ul>
                                </li>
                                <li>Aby zapewnić współzawodnictwo na najwyższym poziomie obowiązuje podział zawodników
                                    na następujące kategorie wiekowe:
                                    <ul>
                                        <li>Juniorzy i juniorki 16 – 18 lat. (skończone 16 lat do dnia 18 urodzin)</li>
                                        <li>Seniorzy i seniorki 18 – 39 lat.(skończone 18 lat do dnia 39 urodzin)</li>
                                    </ul>
                                </li>
                                <li>Obowiązują następujące kategorie wagowe
                                    <table class="table table-condensed table-striped text-center">
                                        <tr>
                                            <th>Kategoria wagowa mężczyzn (juniorzy) [kg]</th>
                                            <th>Kategoria wagowa mężczyzn (seniorzy) [kg]</th>
                                            <th>Kategoria wagowa kobiety (juniorki i seniorki) [kg]</th>
                                        </tr>
                                        <tr>
                                            <td>51</td>
                                            <td>57</td>
                                            <td>51</td>
                                        </tr>
                                        <tr>
                                            <td>54</td>
                                            <td>60</td>
                                            <td>54</td>
                                        </tr>
                                        <tr>
                                            <td>57</td>
                                            <td>63,5</td>
                                            <td>57</td>
                                        </tr>
                                        <tr>
                                            <td>60</td>
                                            <td>67</td>
                                            <td>60</td>
                                        </tr>
                                        <tr>
                                            <td>63,5</td>
                                            <td>71</td>
                                            <td>63,5</td>
                                        </tr>
                                        <tr>
                                            <td>67</td>
                                            <td>75</td>
                                            <td>67</td>
                                        </tr>
                                        <tr>
                                            <td>71</td>
                                            <td>81</td>
                                            <td>71</td>
                                        </tr>
                                        <tr>
                                            <td>75</td>
                                            <td>86</td>
                                            <td>75</td>
                                        </tr>
                                        <tr>
                                            <td>81</td>
                                            <td>91</td>
                                            <td>75+</td>
                                        </tr>
                                        <tr>
                                            <td>81+</td>
                                            <td>91+</td>
                                            <td></td>
                                        </tr>
                                    </table>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <h1>Zasada Fair Play</h1>
                            <ol>
                                <li>Aby zapewnić bezpieczną i akceptowalną dla wszystkich atmosferę turnieju Organizator
                                    wprowadza zasadę Fair
                                    Play. Oznacza ona, że wszystkich uczestników turnieju (zawodnicy, trenerzy, osoby
                                    trzecie) obowiązują zasady
                                    zachowania godne sportowca nie naruszające norm społecznych. Wszelkie naruszenia
                                    Fair Play będą surowo karane.
                                </li>
                                <li>Uczestnikom przysługuje prawo reprezentowania klubu i dyscypliny sportowej w której
                                    bierze udział a także
                                    poczucie odrębności i indywidualności nie godzące w dobro innych.
                                </li>
                                <li>Przewidziane są kary pieniężne, upomnienia, dyskwalifikacja czy pozbawienie tytułu.
                                    Pod rygorem kar zabrania
                                    się zawodnikom, uczestnikom, trenerom i osobom trzecim:
                                    <ul>
                                        <li>Używania języka uznawanego za wulgarny</li>
                                        <li>Obrażania innych uczestników turnieju, zawodników, sędziów, trenerów lub
                                            osób trzecich
                                        </li>
                                        <li>Spożywania alkoholu i narkotyków przed i w trakcie turnieju</li>
                                        <li>Noszenia widocznych symboli uznanych za niedopuszczalne w tym antysemickich,
                                            nazistowskich,
                                            anty-rasowych, dyskryminujących
                                        </li>
                                        <li>Dyskryminacji innych uczestników</li>
                                        <li>Stosowania dopingu w postaci niedozwolonych środków farmakologicznych lub
                                            technicznych
                                        </li>
                                        <li>Faulowania i narażania innych na utratę zdrowia i życia poprzez stosowanie
                                            nieregulaminowych
                                            technik
                                        </li>
                                    </ul>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <h1>Nagrody</h1>
                            <ol>
                                <li>Zdobywcy miejsc finałowych otrzymują pamiątkowe dyplomy</li>
                                <li>Zdobywca I miejsca w gali finałowej BFAM otrzymuje puchar i tytuł zwycięscy ligi
                                    Turniej Testowy
                                </li>
                                <li>Organizator zastrzega sobie prawo do ufundowania dodatkowych nagród pieniężnych i
                                    rzeczowych w wybranych
                                    przez siebie kategoriach i klasyfikacjach.
                                </li>
                            </ol>
                        </li>
                        <li>
                            <h1>Ochrona danych osobowych</h1>
                            <ol>
                                <li>Dane osobowe zawodników będą przetwarzane w celach organizacji i promocji imprez
                                    Organizatora, wyłonienia
                                    zwycięzców oraz przyznania i wydania nagród.
                                </li>
                                <li>Dane osobowe uczestników będą przetwarzane zgodnie z obowiązującymi przepisami, w
                                    szczególności z Ustawą
                                    z 29 sierpnia 1997r. o Ochronie Danych Osobowych (Dz.U. z 2014r. poz. 1182 i 1662
                                    oraz 2015r. poz. 1309).
                                </li>
                                <li>Przetwarzanie i wykorzystanie danych, o którym mowa w punkcie 9. obejmuje również
                                    publikację: imienia,
                                    nazwiska, roku urodzenia i nazwy klubu.
                                </li>
                                <li>Uczestnik przyjmuje do wiadomości, że przysługuje mu prawo wglądu do treści jego
                                    danych oraz ich poprawiania.
                                </li>
                                <li>Podanie danych osobowych oraz wyrażenie zgody na ich przetwarzanie jest dobrowolne,
                                    lecz niezbędne do
                                    udział w turniejach ligi Turniej Testowy
                                </li>
                                <li>Uczestnik wyraża zgodę na utrwalenie i wykorzystanie swojego wizerunku na nośniku
                                    cyfrowym w postaci zdjęć
                                    lub filmów. Materiały te wykorzystywane będą do celów szkoleniowych, promocyjnych i
                                    marketingowych.
                                </li>
                            </ol>
                        </li>
                        <li>
                            <h1>Postanowienia końcowe</h1>
                            <ol>
                                <li>Organizator nie odpowiada za rzeczy zaginione w trakcie trwania imprezy.</li>
                                <li>Organizator zapewnia podstawową pomoc medyczną w postaci ratownika medycznego.</li>
                                <li>Organizator nie ponosi odpowiedzialności za szkody wyrządzone uczestnikom i ich
                                    mieniu przed,
                                    w trakcie trwania oraz po zakończeniu turnieju.
                                </li>
                                <li>Niektóre zapisy niniejszego Regulaminu mogą ulec zmianie o czym uczestnicy turnieju
                                    Turniej Testowy
                                    zostaną poinformowani mailowo lub na odprawie przed rozpoczęciem zawodów.
                                </li>
                                <li>Protesty dotyczące zawodów można składać wraz z obowiązkowym wadium w wysokości 50zł
                                    w Biurze
                                    Zawodów na ręce Sędziego Głównego do 30 minut od zakończenia zawodów. W razie
                                    odrzucenia
                                    protestu wadium przepada na rzecz Organizatora.
                                </li>
                                <li>Organizator zastrzega sobie prawo do odwołania turnieju lub jego przerwania bez
                                    podania powodów.
                                </li>
                                <li>W sprawach nie objętych regulaminem rozstrzyga Sędzia Główny zawodów.</li>
                            </ol>
                        </li>
                    </ol>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        Do pobrania:
                    </div>
                    <div class="panel-body">
                        <p>Pobierz <a href="{{ asset('documents/zgoda_opiekunow_prawnych.pdf') }}"> zgoda opiekunów
                                prawnych</a></p>
                        <p>Pobierz <a
                                    href="{{ asset('documents/Regulamin_turnieju_pucharowego_ligii_Turniej Testowy_1.pdf') }}">REGULAMIN</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}