{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12  col-md-10 col-md-offset-1">
                Serwis ma za zadanie ułatwić organizatorom amatorskich turniejów sztuk walki zarządzanie procesem organizacji
                a zawodnikom proces zgłoszenia oraz tworzenia profilu zawodnika z rekordem walk i osiągnieć.<br><br>

                Serwis jest obecnie w fazie testowej.<br><br>

                Korzystanie z serwisu jest całkowicie bezpłatne.<br><br>

            </div>
        </div>
    </div>
{% endblock %}