{% if app.user.pesel and (app.user.fatherName or app.user.motherName) %}
    {% include 'tournament/_sign_up_form.html.twig' %}
{% else %}
    <p>Aby wysłać swoje zgłoszenie na turniej musisz podać niezbędne dane do obowiązkowego
        uzbezpieczenia - numer pesel oraz imię Ojca albo Matki.
        <a href="{{ path ('user_edit_view') }}">Przejdź do Mój Profil</a> aby uzupełnić brakujące dane</p>
{% endif %}