{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
        <address class="text-center col-xs-12">
            <i class="fa fa-facebook" ><a href="https://www.facebook.com/FighterChampPL/">
                    Strona na Facebooku</a></i><br/>
                slawomir.grochowski@gmail.com
        </address>
            <div>
            <img src="{{ asset('img/about/slawomir_grochowski.jpg') }}">
                <span>Sławomir Grochowski - Backend Developer</span>
            </div>
            <div>
                <img src="{{ asset('img/about/paulina_wanda_wojtas.jpg') }}">
                <span>Paulina Wanda Wojtas - Frontend Developer</span>
            </div>
            <div>
                <img src="{{ asset('img/about/rafal_zielu.jpg') }}">
                <span>Rafał Zielu - Graphic Designer</span>
            </div>

    </div>
{% endblock %}


