{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <address class="text-center">
            <i class="fa fa-envelope"></i><a href="mailto:slawomir.grochowski@gmail.com"> slawomir.grochowski@gmail.com</a><br/>
            <i class="fa fa-phone"></i> 663 269 563<br/>
            <i class="fa fa-facebook"></i><a href="https://www.facebook.com/FighterChampPL/">
                "Fighter Champ"</a><br/>
        </address>
    </div>
{% endblock %}
