{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            {% for msg in app.session.flashBag.get('success') %}
                <div class="alert alert-success">
                    {{ msg }}
                </div>
            {% endfor %}


            <form method="POST" action="{{ path('api_image_upload') }}" enctype="multipart/form-data">
                <input type="file" name="image">
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>

		<address class="text-center col-xs-12">
		  Organizator Warszawskiej Grandy Na Pięści  <br>  Paweł Michalik orzelsyrenka@gmail.com 533 287 765
		</address>
		<address class="text-center col-xs-12">
		  Administrator Systemu FighterChamp.pl <br>
		  Sławomir Grochowski slawomir.grochowski@gmail.com
		</address>
		
        </div>
    </div>

{% endblock %}

 {% block javascripts %}

 {% endblock %}
