{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <address class="text-center">
            {#<i class="fa fa-envelope"></i><a href="mailto:slawomir.grochowski@gmail.com"> slawomir.grochowski@gmail.com</a><br/>#}
            <i class="fa fa-phone"></i> 505 266 615<br/>
            <i class="fa fa-facebook"></i><a href="https://web.facebook.com/events/1204812769587531/">
                Strona wydarzenia na Facebooku</a><br/>
            LEGIA FIGHT CLUB, 02-449 Warszawa, ul. Łazienkowska 6A
        </address>
    </div>
{% endblock %}
