{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <address class="text-center">
            <i class="fa fa-envelope"></i><a href="mailto:biuro@bmaf.pl"> biuro@bmaf.pl</a><br/>
            <i class="fa fa-phone"></i> 722 790 680<br/>
            <i class="fa fa-facebook"></i><a href="https://www.facebook.com/B-Fight-429966393808905/">
                "B-Fight"</a><br/>
        </address>
        <p class="text-center"> Jeśli zauważysz jakieś błędy na stronie albo masz trudności z obsługą to skontaktuj się
            z adminem pod adresem <a href="mailto:slawomir.grochowski@gmail.com">slawomir.grochowski@gmail.com</a></p>
    </div>
{% endblock %}
