<form id="choose-user" class="text-center">
    <label class="radio-inline">
        <input type="radio" name="user" id="fighter" value="1"> Zawodnicy
    </label>
    <label class="radio-inline">
        <input type="radio" name="user" id="couch" value="2"> Trenerzy
    </label>
    <label class="radio-inline">
        <input type="radio" name="user" id="fan" value="3"> Kibice
    </label>
</form>