{% extends 'base.html.twig' %}
{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <a class="btn btn-block btn-social btn-facebook" href="{{ path('connect_facebook') }}">
                    <span class="fa fa-facebook"></span> Zarejestruj się przez Facebooka
                </a>
                <br>
                <div class="col-sm-6 col-sm-offset-3 user-type">
                   {% include '_parts/choose-user.html.twig' %}
                </div>
                <div class="row"></div>
                    <div class="js-form-register"></div>
                </div>
            </div>
        </div>

{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css"/>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="{{ asset('js/main.js') }}"></script>
    <script>


        $(document).ready(function () {


               $(".radio-inline").change(function() {

                insertForm($('input:radio:checked').val());

            });

              $("input:radio:first").prop("checked", true).trigger("change");
        });

        function insertForm (type){

            $.ajax({
                type: 'GET',
                url: Routing.generate('user_register_form_view', { type: type}),
                success: function (data) {
                    $(".js-form-register").html(data);
                }
            });
        }


        {#$(".setNullOnImage").click(function() {#}

            {#$.ajax({#}
                {#type: 'POST',#}
                {#url: "{{ path('setNullOnImage') }}",#}
                {#success: function () {#}
                    {#location.reload();#}
                {#}#}
            {#});#}
        {#});#}



    </script>
{% endblock %}