<button type="button" class="btn-success" id="insurance">Ubezpieczenie</button>
<div class="insurance">
    <span>Dane potrzebne do ubezpieczenia</span>
    {{ form_row(form.pesel) }}
    <span>Podaj imię Ojca albo matki</span>
    {{ form_row(form.fatherName) }}
    {{ form_row(form.motherName) }}
</div>